*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* Calculate Calculate -------------------------->*/

#calculate{
    height: 45rem;
    background-color: #1BA5FD;
    display: flex;
    justify-content: center;
    
}

#calculate label{
    font-weight: 600;
    color: #ffffff;
}

#calculate h1{
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #ffffff;
    margin-bottom: 1rem;
    letter-spacing: .3rem;
}

#calculate form{
    background-color: rgba(230, 230, 230, 0.2);
    
    padding: 3rem 5rem;
    height: 35rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 10px 10px 2rem black;

}

#calculate input{
    width: 250px;
    height: 25px;
    margin-top: .3rem;
    padding: .3rem 0rem;
}

#calculate input:focus{
    background-color: #1ba6fd25;;
}

.btn{

    padding: 7px 17px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: .3s all;
    transform: scale(1);
    font-weight: 500;
}

.btn:hover{
    transform: scale(1.2);
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-radius: 2rem 1rem;
}
/* Calculate Invoice -------------------------->*/
#invoice{
    height: 25rem;
    background-color: aliceblue;
    width: 25rem;
    margin-top: -25rem;
    padding: 5rem;
    
}

#invoice H1{
    text-align: center;
    font-size: 1.4rem;
}
#invoice p{
    text-align: center;
    font-size: .9rem;
    margin-bottom: 1rem;
}

#invoice .spn{
  line-height: 1.3rem;
  
  border-bottom: .8px solid black;
}